Development/nJupiter.Tests/Web References/MessagingWebService/MessagingWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="urn:nJupiter:Messaging:Message" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="urn:nJupiter:Messaging:MessageDestination" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:njupiter:messaging:webservice" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:njupiter:messaging:webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:njupiter:messaging:webservice">
      <s:import namespace="urn:nJupiter:Messaging:Message" />
      <s:import namespace="urn:nJupiter:Messaging:MessageDestination" />
      <s:element name="Publish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s1:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublishResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddMessageConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageConsumer" type="tns:MessageConsumer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageConsumer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="messagedestination" type="s2:MessageDestination" />
        </s:sequence>
        <s:attribute name="id" type="s:long" use="required" />
        <s:attribute name="created" type="s:dateTime" use="required" />
        <s:attribute name="notificationurl" type="s:string" />
      </s:complexType>
      <s:element name="AddMessageConsumerResponse">
        <s:complexType />
      </s:element>
      <s:element name="Notify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s1:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:nJupiter:Messaging:Message">
      <s:import namespace="urn:nJupiter:Messaging:MessageDestination" />
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="messagedestination" type="s2:MessageDestination" />
        </s:sequence>
        <s:attribute name="id" type="s:long" use="required" />
        <s:attribute name="created" type="s:dateTime" use="required" />
        <s:attribute name="startpublish" type="s:dateTime" use="required" />
        <s:attribute name="stoppublish" type="s:dateTime" use="required" />
        <s:attribute name="data" type="s:string" />
        <s:attribute name="interval" type="s:int" use="required" />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:nJupiter:Messaging:MessageDestination">
      <s:complexType name="MessageDestination">
        <s:attribute name="name" type="s:string" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PublishSoapIn">
    <wsdl:part name="parameters" element="tns:Publish" />
  </wsdl:message>
  <wsdl:message name="PublishSoapOut">
    <wsdl:part name="parameters" element="tns:PublishResponse" />
  </wsdl:message>
  <wsdl:message name="AddMessageConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:AddMessageConsumer" />
  </wsdl:message>
  <wsdl:message name="AddMessageConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:AddMessageConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="NotifySoapIn">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="NotifySoapOut">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:portType name="MessagingWebServiceSoap">
    <wsdl:operation name="Publish">
      <wsdl:input message="tns:PublishSoapIn" />
      <wsdl:output message="tns:PublishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMessageConsumer">
      <wsdl:input message="tns:AddMessageConsumerSoapIn" />
      <wsdl:output message="tns:AddMessageConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:input message="tns:NotifySoapIn" />
      <wsdl:output message="tns:NotifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagingWebServiceSoap" type="tns:MessagingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Publish">
      <soap:operation soapAction="urn:njupiter:messaging:webservice/Publish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessageConsumer">
      <soap:operation soapAction="urn:njupiter:messaging:webservice/AddMessageConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap:operation soapAction="urn:njupiter:messaging:webservice/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagingWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="MessagingWebServiceSoap" binding="tns:MessagingWebServiceSoap">
      <soap:address location="http://localhost/nJupiter/nJupiter.Messaging.WebService/Web/MessagingWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>